
.hidden
{
display: none;
}

#prevNext
{
margin-bottom: -2.5em;
}

#prevNext img
{
position: relative;
z-index: 2;
cursor: pointer;
}

p
{
margin: 0;
padding: 0 1em;
font-size: 1.5em;
position: relative;
top: -50px;
line-height: 50px;
height: 50px;
background: black;
opacity: .7;
filter:alpha(opacity=70);
}