/* ROSA PADRÃO ->>> #FF1CAE	*/
@font-face {
    /*font-family: 'andante';
	src: url('andante.woff'); /* formato WOFF funciona para os 3 navegadores principais: Chrome, Mozzila e Internet Explorer*/
    /*src: local('andante'), url('andante.woff') format('truetype'); /* e o formato TTF funciona só pro Internet Explorer*/
    font-family: 'Kristen ITC';
	src: url('Kristen.ttf');
    src: local('Kristen ITC'), url('Kristen.ttf') format('truetype');
}

.bodyW
{
    background-color: #ffeeff; /*#e9e9e9;*/
	/*font-family: "ANDANTE";
	src:url(ANDANTE.ttf) format("truetype");*/
	
	font-family: "Kristen ITC";/*ANDANTE;/*"Lucida Calligraphy";*"Kristen ITC";/*Jokerman;/*"Harrington";/*"Bauhaus 93";/* "Century Gothic";/*"Lucida Calligraphy Italic";*/
}
.div-borda
{
	border-image: url('picture/bord.png') 17 / 0 300px 0 300px stretch;
}
.cabecalho
{
    width: 800px;
    height: 100px;
    background-color: #ff1cae; /*#e9e9e9;*/
    margin: 0px auto;
}
.menu
{
    background-color: #FF1CAE;
    width: 650px;/*influência nas posição do menu*/
    height: 40px;
    margin: 0px auto;
    padding-left: 150px;/*influência nas posição do menu*/
}

/*conteudo da pagina*/
.content
{
    background-color: #e9e9e9;
    width: 800px;
    margin: 0px auto;
}
.rodape
{
    /*background-color: #FF1CAE;*/
    width: 800px;
    margin: auto auto;
    height: 120px; /*altura da imagem do rodapé*/
    padding-top: 20px;
    text-align: center;
    /*font-family: Verdana;*/
    font-size: 13px;
	background-image: url("picture/rodape.png");
}

/*imagens redes sociais*/
/*por causa do internet explorer*/
.rodape a img 
{
	border: none;
}

/*imagens de redes sociais*/
.rodape a img:hover
{
	width: 5.5%;
}
.menu table tr td
{
    width: 100px;
    height: 100%;
    text-align: center;
    /*font-family: Verdana;*/
    font-size: 14px;
    padding-top: 10px;
}
.menu table tr td a /*item do menu*/
{
    width: 100px;
    height: 100%;
    text-align: center;
    /*font-family: Verdana;*/
    font-size: 14px;
    padding-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/*a passar o mouse em algum item do menu*/
.menu table tr td a:hover
{
    width: 100px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
	color: #000000;
}

/*titulo*/
.image_title
{
    width: 500px; /*configurado para o tamanho da imagem*/
    height: 98px; /*configurado para o tamanho da imagem*/
	text-decoration: none;
	border: none; /*tira a borda por causa do internet explorer*/
	background-image: url("picture/titulo.png"); /*imagem do titulo*/
	display:block;
	float:left;
}

/*espaco pessoal*/
.pes
{
	background-color: #ffeeff;
    width: 300px; /*configurado para o tamanho da imagem*/
    height: 98px; /*configurado para o tamanho da imagem*/
	text-decoration: none;
	border: none; /*tira a borda por causa do internet explorer*/
	display:block;
	float:right;
}

/*div do Cadastre e Login*/
.pes div
{
	text-align: center;
	width: 70px;
	float: right;
	background-color: #ffffff;
	padding: 10px 15px 10px 15px;
}

/*cor das letras do Cadastre e Login*/
.pes a
{
	color: #000000;
}
.pes a:hover
{
	color: #ffffff;
}

/*ao passar mouse na div Cadastre e Login*/
.pes div:hover
{
	background-color: red;
}

/*tirar sublinhado do Cadastre e Login*/
.pes div a
{
	text-decoration: none;
}

/*destaque*/
.content div div
{
	width: 50%;
	background-color: #ffccff;
	float:right;
}

/*div dos produtos*/
.content div
{
	background-color: #ffccff;
}

/*barras*/
.content div hr
{
	width: 100%;
}

/*imagens dos produtos*/
.content div img
{
	width: 260px;
	height: 230px;
	border: none;
}

/*ao passar mouse nas imagens*/
.content div img:hover
{
	opacity: 0.5;
}

/*fundo dos produtos*/
.content div table tr
{
	/*background-color: #ff6666;*/
	border-color: black;
	background-color: #ffffff;
}


/*MENU*/
.NavbarMenu
{
	width: 640px;
	height: 35px;
	margin: 0px auto;
	padding-left: 160px;
	background-color: #FF1CAE;
	text-align: center;
}

#NavbarMenuleft
{
	float: left;
	margin: 0;
	padding: 0;
}

#NavbarMenuright
{
	width: 270px;
	float: right;
	margin: 0;
	text-align: right;
	padding-top: 6px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

#nav
{
	margin: 0;
	padding: 0;
}

#nav ul
{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li a, #nav li a:link, #nav li a:visited
{
	color: #ffffff;
	display: block;
	margin: 0;
	padding: 9px 15px 8px;
	text-decoration:none;
}

#nav li a:hover, #nav li a:active
{
	color: #000000;
	margin: 0;
	padding: 9px 15px 8px;
	background-color: #ffffff;
}

#nav li li a, #nav li li a:link, #nav li li a:visited
{
	width: 150px;
	color: #000000;
	padding: 7px 10px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-color: #ffffff;
}

#nav li li a:hover, #nav li li a:active
{
	color: #000000;
	padding: 7px 10px;
	background-color: #e9e9e9;
}

#nav li
{
	float: left;
	padding: 0;
}

#nav li ul
{
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 170px;
	margin: 0;
	padding: 0;
}

#nav li ul a
{
	width: 140px;
}

#nav li ul ul
{
	margin: -32px 0 0 171px;
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul
{
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul
{
	left: auto;
}

#nav li:hover, #nav li.sfhover
{
	position: static;
}
/*FINAL MENU*/

/*****EFEITO DOS DESTAQUES***********/
#slider
{
	width: 400px; /* Largura das as imagens */
	height: 300px; /* Altura das as imagens */
	position: relative;
	overflow: hidden;
}

#sliderContent
{
	width: 150px; /* Largura das as imagens */
	position: absolute;
	top: 0px;
	margin: 0px;
	padding: 0px;
}

.sliderImage a img
{
	width: 400px; /* Largura das as imagens */
	height: 300px; /* Altura das as imagens */
}

.sliderImage
{
	float: left;
	position: relative;
	display: none;
}

.sliderImage span
{
	position: absolute;
	font: 15px "Kristen ITC";/*Arial, Helvetica, sans-serif;*/
	padding: 10px 13px;
	width: 100%;
	background-color: #f0f8ff;/*red;*/
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	color: black;/*#fff;*/
	display: none;
}

.clear {clear: both;}

.sliderImage span strong {font-size: 14px;}

.top {top: 0px;left: 0px;}

.bottom {bottom: 0px;left: 0px;}

ul { list-style-type: none;}
/*****EFEITO DOS DESTAQUES*******/


/************PÁGINA DE LOGIN******************/
.content form table
{
	text-align: center;
	/*margin: 0px auto;*/
	padding: 20px 0px;
}

.content form table tr td button
{
	background-color: #ffffff;
}

.tex /*email*/
{
	text-align:right;
	width:350px;
}

.cai/*senha*/
{
	text-align:left;
}
/************PÁGINA DE LOGIN******************/

/************PÁGINA DO USUÁRIO***************/
.show
{
	display:none;
}

.content table
{
	width:100%;
}

.dados-user
{
	width:75%;
}

.itens-user
{
	background-color: green;
	height:50px;
}

.itens-user a
{
	text-decoration:none;
}
/************PÁGINA DO USUÁRIO***************/


/************PÁGINA DE PRODUTOS***************/
.lista_produtos tr td a /*lista de produtos para o usuário*/
{
	text-decoration:none;
	text-align:center;
}

.content div table tr td img /*exibição dos produtos*/
{
	width: 100px;
	height: 100px;
	padding: 10px 0;
	text-decoration:none;
}

.content div table tr td /*só alinhando os produtos*/
{	
	text-align:center;
}
/************PÁGINA DE PRODUTOS***************/


/************** PÁGINA DE ACESSORIOS************************/
.content table tr td div img/*listando os produtos*/
{
	width: 100px;
	height: 100px;
	padding: 10px 0;
	text-decoration:none;
	text-align:center;
}
/************** PÁGINA DE ACESSORIOS************************/



/*****************PÁGINA DO PRODUTO***********************/
.content img
{
	width: 200px;
	height: 200px;
	padding: 10px 0px;
	text-align: center;
}

.content
{
	text-align: center;
}
/*****************PÁGINA DO PRODUTO***********************/