/* ROSA PADR�O ->>> #FF1CAE	*/
@font-face {
    /*font-family: 'andante';
	src: url('andante.woff'); /* formato WOFF funciona para os 3 navegadores principais: Chrome, Mozzila e Internet Explorer*/
    /*src: local('andante'), url('andante.woff') format('truetype'); /* e o formato TTF funciona s� pro Internet Explorer*/
    font-family: 'Kristen ITC';
	src: url('Kristen.ttf');
    src: local('Kristen ITC'), url('Kristen.ttf') format('truetype');
}

.bodyW
{
    background-color: #000000; /*#e9e9e9;*/
	/*font-family: "ANDANTE";
	src:url(ANDANTE.ttf) format("truetype");*/
	background: url('picture/backrock1teste.png') no-repeat;
	background-size: 100%;
	
	font-family: "Kristen ITC";/*ANDANTE;/*"Lucida Calligraphy";*"Kristen ITC";/*Jokerman;/*"Harrington";/*"Bauhaus 93";/* "Century Gothic";/*"Lucida Calligraphy Italic";*/
}

#coin-slider
{
	margin: 20px auto;
}

.cabecalho
{
    width: 800px;
    height: 110px;
    background-color: #696767; /*#e9e9e9;*/
    margin: 0px auto;
}
.menu
{
    background-color: #FF1CAE;
    width: 650px;/*influ�ncia nas posi��o do menu*/
    height: 40px;
    margin: 0px auto;
    padding-left: 150px;/*influ�ncia nas posi��o do menu*/
}

/*conteudo da pagina*/
.content
{
	min-height: 480px;
    background-color: #e9e9e9;
    width: 800px;
    margin: 0px auto;
}

.rodape
{
    width: 800px;
    margin: 10px auto;
    height: 120px; /*altura da imagem do rodap�*/
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
	background-image: url("picture/rodapeblack.png");
}

/*imagens redes sociais*/
/*por causa do internet explorer*/
.rodape a img 
{
	margin-left: 40px;
	border: none;
	height: 35px;
	width: 35px;
	margin-right: 20px;

}

/*imagens de redes sociais*/
.rodape a img:hover
{
	width: 40px;
	height: 40px;	
}

.menu table tr td
{
    width: 100px;
    height: 100%;
    text-align: center;
    /*font-family: Verdana;*/
    font-size: 14px;
    padding-top: 10px;
}
.menu table tr td a /*item do menu*/
{
    width: 100px;
    height: 100%;
    text-align: center;
    /*font-family: Verdana;*/
    font-size: 14px;
    padding-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/*a passar o mouse em algum item do menu*/
.menu table tr td a:hover
{
    width: 100px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
	color: #000000;
}

#titulo
{
	margin-left: 150px;
    width: 800px; /*configurado para o tamanho da imagem*/
    height: 100px; /*configurado para o tamanho da imagem*/
	text-decoration: none;
	border: none; /*tira a borda por causa do internet explorer*/
	background: url("picture/titulo.png") no-repeat; /*imagem do titulo*/
	display:block;
	float:left;
}

/*titulo*/
.image_title
{
    width: 500px; /*configurado para o tamanho da imagem*/
    height: 98px; /*configurado para o tamanho da imagem*/
	text-decoration: none;
	border: none; /*tira a borda por causa do internet explorer*/
	display:block;
	float:left;
}

/*Icones para mudar estilo do site*/
.image_title a img
{
	width:30px;
	height:30px;
	background-color:#ffffff;
}
.image_title a img:hover
{
	width:40px;
}

/*espaco pessoal*/
.pes
{
	background-color: #ffffff;
    width: 300px; /*configurado para o tamanho da imagem*/
    height: 98px; /*configurado para o tamanho da imagem*/
	text-decoration: none;
	border: none; /*tira a borda por causa do internet explorer*/
	display:block;
	float:right;
}

/*div do Cadastre e Login*/
.pes div
{
	text-align: center;
	width: 70px;
	float: right;
	background-color: #ffffff;
	padding: 10px 15px 10px 15px;
}

/*cor das letras do Cadastre e Login*/
.pes a
{
	color: #000000;
}
.pes a:hover
{
	color: #ffffff;
}

/*ao passar mouse na div Cadastre e Login*/
.pes div:hover
{
	background-color: #FF1CAE;
}

/*tirar sublinhado do Cadastre e Login*/
.pes div a
{
	text-decoration: none;
}

/*conteudo da pagina*/
.content
{
	background-color: #ffffff;
}

.content div table tr td a
{
	text-decoration: none;
	color: #000000;
}

/*MENU*/
.NavbarMenu
{
	width: 640px;
	height: 41px;
	margin: 0px auto;
	padding-left: 160px;
	background-color: #696767;
	text-align: center;
}

#NavbarMenuleft
{
	float: left;
	margin: 0;
	padding: 0;
}

#NavbarMenuright
{
	width: 270px;
	float: right;
	margin: 0;
	text-align: right;
	padding-top: 6px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

#nav
{
	margin: 0;
	padding: 0;
}

#nav ul
{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li a, #nav li a:link, #nav li a:visited
{
	color: #000000;
	display: block;
	margin: 0;
	padding: 9px 15px 8px;
	text-decoration:none;
	-webkit-border-radius: 10px 10px 10px 10px; /*arredondar borda de itens do menu*/
}

#nav li a:hover, #nav li a:active
{
	color: #000000;
	margin: 0;
	padding: 9px 15px 8px;
	background-color: #e9e9e9;
}

#nav li li a, #nav li li a:link, #nav li li a:visited
{
	width: 150px;
	color: #000000;
	padding: 7px 10px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-color: #ffffff;
}

#nav li li a:hover, #nav li li a:active
{
	color: #000000;
	padding: 7px 10px;
	background-color: #e9e9e9;
}

#nav li
{
	float: left;
	padding: 0;
}

#nav li ul
{
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 170px;
	margin: 0;
	padding: 0;
}

#nav li ul a
{
	width: 140px;
}

#nav li ul ul
{
	margin: -32px 0 0 171px;
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul
{
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul
{
	left: auto;
}

#nav li:hover, #nav li.sfhover
{
	position: static;
}
/*FINAL MENU*/

/*****EFEITO DOS DESTAQUES***********/
#slider
{
	width: 400px; /* Largura das as imagens */
	height: 300px; /* Altura das as imagens */
	position: relative;
	overflow: hidden;
}

#sliderContent
{
	width: 150px; /* Largura das as imagens */
	position: absolute;
	top: 0px;
	margin: 0px;
	padding: 0px;
}

.sliderImage a img
{
	width: 400px; /* Largura das as imagens */
	height: 300px; /* Altura das as imagens */
}

.sliderImage
{
	float: left;
	position: relative;
	display: none;
}

.sliderImage span
{
	position: absolute;
	font: 15px "Kristen ITC";/*Arial, Helvetica, sans-serif;*/
	padding: 10px 13px;
	width: 100%;
	background-color: #f0f8ff;/*red;*/
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	color: black;/*#fff;*/
	display: none;
}

.clear {clear: both;}

.sliderImage span strong {font-size: 14px;}

.top {top: 0px;left: 0px;}

.bottom {bottom: 0px;left: 0px;}

ul { list-style-type: none;}
/*****EFEITO DOS DESTAQUES*******/


/************P�GINA DE LOGIN******************/
.content form table
{
	text-align: center;
	/*margin: 0px auto;*/
	padding: 20px 0px;
}

.content form table tr td button
{
	background-color: #ffffff;
}

.tex /*email*/
{
	text-align:right;
	width:350px;
}

.cai/*senha*/
{
	text-align:left;
}
/************P�GINA DE LOGIN******************/

/************P�GINA DO USU�RIO***************/
.show
{
	display:none;
}

.content table
{
	width:100%;
}

.dados-user
{
	width:75%;
}

.itens-user
{
	background-color: green;
	height:50px;
}

.itens-user a
{
	text-decoration:none;
}
/************P�GINA DO USU�RIO***************/


/************P�GINA DE PRODUTOS***************/
.lista_produtos tr td a /*lista de produtos para o usu�rio*/
{
	text-decoration:none;
	text-align:center;
}

.content div table tr td img /*exibi��o dos produtos*/
{
	width: 100px;
	height: 100px;
	padding: 10px 0;
	text-decoration:none;
}

.content div table tr td /*s� alinhando os produtos*/
{	
	text-align:center;
}
/************P�GINA DE PRODUTOS***************/


/************** P�GINA DE ACESSORIOS************************/
.content table tr td div img/*listando os produtos*/
{
	width: 100px;
	height: 100px;
	padding: 10px 0;
	text-decoration:none;
	text-align:center;
}
/************** P�GINA DE ACESSORIOS************************/



/*****************P�GINA DO PRODUTO***********************/
.content img
{
	width: 200px;
	height: 200px;
	padding: 10px 0px;
	text-align: center;
}

.content p
{
	margin: 10px 20px 10px 20px;
	text-align: justify;
}
/*****************P�GINA DO PRODUTO***********************/